{% block title %}Eval{% endblock %}

{% block content %}
<div class="login-container">
  <h2>Eval</h2>

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <form method="post" action="/home">
    <div>
      <label for="Assessment">Assessment ID:</label>
      <input type="text" name="aid" id="Assessment" required>
    </div>

    <div>
      <label for="Task">Task ID:</label>
      <input type="text" name="tid" id="Task" required>
    </div>

    <div>
      <label for="Code">Code:</label>
      <textarea id="Code" name="code" rows = "40" cols= "80"></textarea>
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}